@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Noto Sans', sans-serif;
   text-decoration: none;
   list-style-type: none;
}

body {
    background: #404d54;
}


/* #404d54 (background)
#2b3438ad (bg-cards)
#e4584f
#cc564f (text)
#b55450 (text hover)
#9d5351 */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 0px 30px 0px 30px;
}

.navbar-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.navbar-links a {
    color: #cc564f;
    font-size: 18px;
}

.navbar-links a:hover {
    color: #b55450;
    transition: all 0.5ms ease-in-out;
}

.buscar {
    position: relative;
    padding: 5px;
  }
  
  .buscar input {
    background: #404d54;
    width: 0;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #b55450;
    outline: none;
    border: 1px solid #b55450;
    border-radius: 30px;
    transition: all 0.6s ease;
  }
  
  .btn {
    background: #404d54;
    width: 55px;
    height: 55px;
    line-height: 55px;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
  }

  .buscar:hover input {
    width: 240px;
  }
  
  .buscar input:focus {
    width: 240px;
  }

.cart-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    gap: 15px;
}

.cart-img2 {
    cursor: pointer;
}


/* Main, hero*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.hero-info h2 {
    font-size: 4.5rem;
    color: #e4584f;
    padding: 5px;
}

.hero-info h4 {
    font-size: 2.5rem;
    color: #cc564f;
}

.hero-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 20px 0px;
}

.hero-links a {
    color: black;
    background-color: darkgray;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}

.hero-links a:hover {
    color: #404d54;
    background-color: #b55450 ;
    transition: transform 3s ease-in-out;
}

.hero-links .register {
    color: #000000;
    background-color: #e4584f;
    border: 2px solid black;
}

/* Novedades, hombres, mujeres, accesorios */

#novedades, #hombres, #mujeres, #accesorios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    max-width: 1200px;
    width: 100%;
    gap: 35px;
}

.nov-tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    font-size: 2rem;
    color: #e4584f;
    padding: 40px 0px;
}

.nov-tittle p {
    font-size: 1.6rem;
    color: #cc564f;
}

.nov-cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.cards-cointainer {
   background: #2b3438ad;
   padding: 20px;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 20px;
   width: 539px;
   height: 666px;
}




.cards-cointainer img{
    width: 499px;
    height: 499px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-tittle {
    background: #2b3438ad;
    color: #cc564f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.cards-price {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background: #2b3438ad;
    color: rgba(0, 0, 0, 0.795);
    padding: 5px;
}

.cards-price span {
    background-color: #e4584f;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

.cards-price span:hover {
    color: #404d54;
    background-color: #b55450 ;
    transition: transform 3s ease-in-out;
}

.btn-add a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: #000000;
    background-color: #e4584f;
    padding: 12px;
    border: 2px solid black;
    border-radius: 15px;
}

.btn-add a:hover {
    color: #404d54;
    background-color: #b55450 ;
    transition: transform 3s ease-in-out;
}






/* Contact */


#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.contact-tittles h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    color: #e4584f;
}
.contact-tittles h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: #e4584f;
}

.form-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-color: #2b3438ad;
    width: 40%;
    height: 40%;
}

.form-cont label {
    font-size: 16px;
    padding: 2px;
    font-weight: 600;
    text-decoration: underline black; 
}


.form-cont input, .form-cont select {
    background-color: #cc564f;
    color: #000000;
    width: 25%;
    height: 25%;
    border: 1px solid black;
}

.form-cont input::placeholder, .form-cont select::placeholder, .form-cont textarea::placeholder {
    color: #000000;
}

.form-cont textarea {
    background-color: #cc564f;
    color: #000000;
    width: 40%;
    height: 40%;
    border: 1px solid black;
}

.form-cont #subm {
    margin: 5px;
    padding: 5px;
    width: 15%;
    font-size: 14px;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
}

.form-cont #subm:hover {
    color: #404d54;
    background-color: #b55450 ;
    transition: transform 3s ease-in-out;
}







/* Footer */

footer {
    margin-top: 10vh;
    margin-bottom: 3vh;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.footer-links a {
    color: #9d5351;
    font-size: 18px;
}

.footer-links a:hover {
    color: #b55450;
    transition: all 0.5ms ease-in-out;
}


.footer-links h4 {
    color: #cc564f;
}